.food-bg {
    background-image: url('./../img/fondo-pag-speciali.jpg');
}

.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .card {
        display: inline-block;
        margin: 5px;
        flex-basis: calc(100% / 3 - 10px);
        position: relative;
        overflow: hidden;

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.6);
            color: $mainTextColor;
            font-weight: 500;
            opacity: 0;
            transition: opacity 0.5s;
        }

        &:hover {

            img {
                transform: scale(1.3);
            }

            .overlay {

                opacity: 1;
            }
        }

        img {
            width: 100%;
            float: left;
            transition: transform 0.5s;
        }

    }
}

main {

    section:not(:last-child) {
        margin-bottom: 30px;

    }

    h2 {
        color: $mainTextColor;
        text-align: center;
        font-size: 32px;
    }
}
